#navbar ul{
    height: 50px;
    border-color:#ffffff;
    color: white;
}
#navbar {
    width: 100%;
    border-color:#ffffff;
    color: white;
}

#sidebar {
    line-height:30px;
    height:700px;
    width:25%;
    float: left;
    border-color:#ffffff;
    color: white;
}
#lists {
    width:100%;
    border-style: double;
    height:700px;
    border-color:#ffffff;
    color: white;
}
body {
    width: 100%;
    height: 100%;
    background-image:url("img/lo'i.jpg");
    border-color:#ffffff;
    color: white;
}
header {
    width: 100%;
    height: 25vh;
    border-style: double;
    text-align: center;
    border-color:#ffffff;
    color: white;
}
table {
    width: 200px;
}
th {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
footer {
    border-style: double;
    text-align:center;
    height:50px;
    border-color:#ffffff;
    color: white;
}